<%# **
 * This is all of the references to be made before existing page content.
-%>
<header role="banner">
    <div id="wb-bnr" class="container">
        <div class="row">
            <div class="brand col-xs-8 col-sm-9 col-md-6"> <a href="https://canada.ca">
                <img src="<%- wet.builder.environment(pr.cdnEnv) %>wet-boew/assets/sig-blk-en.svg" alt="">
                <span class="wb-inv"> Government of Canada / Gouvernement du Canada</span></a> </div>
        </div>
    </div>
</header>
