{namespace serverPage}

/**
 * This is all of the references to be made in the head element.
 */
{template .serverRefTop}
		<!--[if gte IE 9 | !IE ]><!-->
		<link href='./gcweb/assets/favicon.ico' rel="icon" type="image/x-icon">
		<link rel="stylesheet" href='./gcweb/css/theme.min.css'>
		<link rel="stylesheet" href='./cdts/css/cdtsfixes.css'>
		<!--<![endif]-->
		<!--[if lt IE 9]>
		<link href='./gcweb/assets/favicon.ico' rel="shortcut icon" />
		<link rel="stylesheet" href='./gcweb/css/ie8-theme-srv.min.css' />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src='./wet-boew/js/ie8-wet-boew.min.js'></script>
		<![endif]-->
{/template}

/**
 * This is all of the references to be made before existing page content.
 */
{template .serverTop}
	<header>
		<div id="wb-bnr" class="container">
			<div class="row">
				<div class="brand col-xs-8 col-sm-9 col-md-6"> <a href="https://canada.ca">
					<img src='./gcweb/assets/sig-blk-en.svg' alt="" />
					<span class="wb-inv"> Government of Canada / Gouvernement du Canada</span></a> </div>
			</div>
		</div>
	</header>
{/template}

/**
 * This is all of the references to be made before existing page content.
 */
{template .serverBottom}
	<footer id="wb-info">
		<div class="brand">
			<div class="container">
				<div class="row">
					<div class="col-xs-6 visible-sm visible-xs tofpg"> <a href="#wb-cont">Top of page / <span lang="fr">Haut de la page</span> <span class="glyphicon glyphicon-chevron-up"></span></a> </div>
					<div class="col-xs-6 col-md-12 text-right">
						<img src='./gcweb/assets/wmms-blk.svg' alt="Symbol of the Government of Canada / Symbole du gouvernement du Canada" />
					</div>
				</div>
			</div>
		</div>
	</footer>
{/template}