{namespace applicationPage}

/**
 * This is all of the html to be included before existing page content.
 * @param? topCusMenu Set to true if you want to use a custom footer.
 * @param? topSecMenu Set to true if you want to use the secondary navigation.
 * @param? appName Used to determine the name of the app.
 * @param? appSettings Used to customize the app settings link.
 * @param? signOut Used to customize the link to sign out.
 * @param? signIn Used to customize the link to sign in.
 * @param? lngLinks Links to pages in other languages.
 * @param? customSearch Used to control the custom searches.
 * @param? menuPath Used to define the path to the menu that will be ajaxed in.
 * @param? menuLinks Loops of the menu sections - MSCA only
 * @param? breadcrumbs Used to set custom breadcrumbs.
 * @param? showPreContent Used to determine if the precontent space will be displayed.
 */
{template .appTop}

		<script>
		dataLayer = [];
		</script>

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){lb}w[l]=w[l]||[];w[l].push({lb}'gtm.start':
		new Date().getTime(),event:'gtm.js'{rb});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		{rb})(window,document,'script','dataLayer','GTM-5DBPCQJ');</script>
		<!-- End Google Tag Manager -->

		<ul id="wb-tphp">
			<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
			<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to "{if $topCusMenu == true}Related links{else}About this Web application{/if}"</a></li>
			{if $topSecMenu == true}
			<li class="wb-slc visible-md visible-lg"><a class="wb-sl" href="#wb-sec">Skip to section menu</a></li>
			{/if}
		</ul>
		<header>
			<div id="wb-bnr" class="container">
				{if isNonnull($lngLinks)}
				<section id="wb-lng" class="text-right">
					<h2 class="wb-inv">Language selection</h2>
					<ul class="list-inline margin-bottom-none">
						{foreach $link in $lngLinks}
						<li><a lang="{$link.lang}" href="{$link.href}">{$link.text}</a></li>
						{/foreach}
					</ul>
				</section>
				{/if}
				<div class="row">
					<div class="brand col-xs-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
						<img src='{call wet.builder.environment data="all" /}gcweb/assets/sig-blk-en.svg' alt="" property="logo" />
						<span class="wb-inv" property="name"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span>
						<meta property="areaServed" typeOf="Country" content="Canada" />
						<link property="logo" href='{call wet.builder.environment data="all" /}gcweb/assets/wmms-blk.svg' />
					</div>
					{if isNonnull($customSearch)}
					{foreach $item in $customSearch}
					{if isFirst($item)}
					<section id="wb-srch" class="col-lg-8 text-right visible-md visible-lg">
						<h2>Search{if isNonnull($item.placeholder)} {$item.placeholder}{/if}</h2>
						<form action="{$item.action}" method="{$item.method}" name="cse-search-box" role="search" class="form-inline">
							<div class="form-group">
								<label for="{if isNonnull($item.id)}{$item.id}{else}wb-srch-q{/if}" class="wb-inv">Search{if isNonnull($item.placeholder)} {$item.placeholder}{/if}</label>
								<input id="{if isNonnull($item.id)}{$item.id}{else}wb-srch-q{/if}" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search{if isNonnull($item.placeholder)} {$item.placeholder}{/if}">
								{if isNonnull($item.hiddenInput)}
								{foreach $input in $item.hiddenInput}
									<input type="hidden" name="{$input.name}" value="{$input.value}" />
								{/foreach}
								{/if}
							</div>
							<div class="form-group submit">
								<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search{if isNonnull($item.placeholder)} {$item.placeholder}{/if}</span></button>
							</div>
						</form>
					</section>
					{/if}
					{/foreach}
					{/if}
				</div>
			</div>
			<div class="app-bar">
				<div class="container">
					<div class="row">
						{if (isNonnull($appSettings)) or (isNonnull($signOut)) or (isNonnull($signIn))}
						<section class="col-xs-12 col-sm-7">
						{else}
						<section class="col-xs-12">
						{/if}
							{foreach $item in $appName}
								{if isFirst($item)}
							<h2 class="wb-inv">Name of Web application</h2>
							<a class="app-name" href="{$item.href}">{$item.text}</a>
								{/if}
							{/foreach}
						</section>
						{if (isNonnull($appSettings)) or (isNonnull($signOut)) or (isNonnull($signIn))}
						<nav class="col-sm-5 hidden-xs hidden-print">
							<h2 class="wb-inv">Account menu</h2>
							<ul class="app-list-account list-unstyled">
								{if isNonnull($appSettings)}
									{foreach $item in $appSettings}
									{if isFirst($item)}
								<li><a href="{$item.href}" class="btn"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Account settings</a></li>&#32;
									{/if}
									{/foreach}
								{/if}
								{if isNonnull($signOut)}
									{foreach $item in $signOut}
									{if isFirst($item)}
								<li><a href="{$item.href}" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign out</a></li>
									{/if}
									{/foreach}
								{elseif isNonnull($signIn)}
									{foreach $item in $signIn}
									{if isFirst($item)}
								<li><a href="{$item.href}" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign in</a></li>
									{/if}
									{/foreach}
								{/if}
							</ul>
						</nav>
						{/if}
					</div>
				</div>
			</div>
			{if (isNonnull($customSearch)) or (isNonnull($menuPath)) or (isNonnull($menuLinks)) or ($topSecMenu == true) or (isNonnull($appSettings)) or (isNonnull($signOut)) or (isNonnull($signIn))}
			<div class="app-bar-mb container visible-xs-block hidden-print">
				{if (isNonnull($menuPath)) or (isNonnull($menuLinks)) or ($topSecMenu == true) or (isNonnull($customSearch))}
				<nav>
					<h2 class="wb-inv">{if (isNonnull($menuPath)) or (isNonnull($menuLinks)) or ($topSecMenu == true)}Menu{if isNonnull($customSearch)} and search{/if}{else}Search{/if}</h2>
					<ul class="app-list-main list-unstyled">
						{if (isNonnull($menuPath)) or (isNonnull($menuLinks)) or ($topSecMenu == true)}<li class="wb-mb-links" id="wb-glb-mn"><a href="#mb-pnl" aria-controls="mb-pnl" class="btn overlay-lnk" role="button">Menu</a><h2>Menu</h2></li>{/if}
						{if isNonnull($customSearch)}<li><a href="#app-srch-mb" title="Search" aria-controls="app-srch-mb" class="btn overlay-lnk" role="button"><span class="glyphicon-search glyphicon" aria-hidden="true"></span><span class="wb-inv">Search</span></a></li>{/if}
					</ul>
					<div id="mb-pnl"></div>
					{if isNonnull($customSearch)}
					{foreach $item in $customSearch}
					{if isFirst($item)}
					<section id="app-srch-mb" class="wb-overlay modal-content overlay-def wb-bar-t">
						<div class="modal-header">
							<h3 class="modal-title">Search{if isNonnull($item.placeholder)} {$item.placeholder}{/if}</h3>
						</div>
						<div class="modal-body">
							<form action="{$item.action}" method="{$item.method}" name="cse-search-box" role="search" class="form-inline">
								<div class="input-group">
									<label for="{if isNonnull($item.id)}app-{$item.id}{else}app-srch-q-mb{/if}" class="wb-inv">Search{if isNonnull($item.placeholder)} {$item.placeholder}{/if}</label>
									<input placeholder="Search{if isNonnull($item.placeholder)} {$item.placeholder}{/if}" id="{if isNonnull($item.id)}app-{$item.id}{else}app-srch-q-mb{/if}" class="app-srch-q-mb form-control" name="q" type="search" value="" size="27" maxlength="150">
								{if isNonnull($item.hiddenInput)}
								{foreach $input in $item.hiddenInput}
									<input type="hidden" name="{$input.name}" value="{$input.value}" />
								{/foreach}
								{/if}
									<span class="input-group-btn"><button type="submit" id="app-srch-sub-mb" class="btn btn-primary btn-small" name="app-srch-sub-mb"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search{if isNonnull($item.placeholder)} {$item.placeholder}{/if}</span></button></span>
								</div>
							</form>
						</div>
					</section>
					{/if}
					{/foreach}
					{/if}
				</nav>
				{/if}
				{if (isNonnull($appSettings)) or (isNonnull($signOut)) or (isNonnull($signIn))}
				<nav>
					<h2 class="wb-inv">Account menu</h2>
					<ul class="app-list-account list-unstyled">
						{if isNonnull($appSettings)}
							{foreach $item in $appSettings}
							{if isFirst($item)}
						<li><a href="{$item.href}" class="btn"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Account settings</a></li>&#32;
							{/if}
							{/foreach}
						{/if}
						{if isNonnull($signOut)}
							{foreach $item in $signOut}
							{if isFirst($item)}
						<li><a href="{$item.href}" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign out</a></li>
							{/if}
							{/foreach}
						{elseif isNonnull($signIn)}
							{foreach $item in $signIn}
							{if isFirst($item)}
						<li><a href="{$item.href}" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign in</a></li>
							{/if}
							{/foreach}
						{/if}
					</ul>
				</nav>
				{/if}
			</div>
			
			{if isNonnull($menuLinks)}
			<nav id="wb-sm" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
				<div class="pnl-strt container nvbar">
					<h2 class="wb-inv">Main navigation menu</h2>
					<div class="row">
						<ul class="list-inline menu" role="menubar">
							{foreach $link in $menuLinks}
							{if isNonnull($link.subLinks)}
							<li>
								<a href="#{$link.id}" class="item"{if $link.newWindow==true} target="_blank"  rel="noopener"{/if}>{$link.text}{if $link.newWindow==true}<span class="wb-inv"> This link will open in a new window</span>{/if}</a>
								<ul class="sm list-unstyled" id="{$link.id}" role="menu">
									{foreach $sublink in $link.subLinks}
										{if isLast($sublink)}
									<li class="slflnk"><a href="{$sublink.subhref}"{if $sublink.newWindow==true} target="_blank"  rel="noopener"{/if}>{$sublink.subtext}{if $sublink.newWindow==true}<span class="wb-inv"> This link will open in a new window</span>{/if}</a></li>
										{else}
									<li><a href="{$sublink.subhref}"{if $sublink.newWindow==true} target="_blank"  rel="noopener"{/if}>{$sublink.subtext}{if $sublink.newWindow==true}<span class="wb-inv"> This link will open in a new window</span>{/if}</a></li>
										{/if}
									{/foreach}
								</ul>
							</li>
							{else}
							<li><a href="{$link.href}" class="item"{if $link.newWindow==true} target="_blank"  rel="noopener"{/if}>{$link.text}{if $link.newWindow==true}<span class="wb-inv"> This link will open in a new window</span>{/if}</a></li>
							{/if}
							{/foreach}
						</ul>
					</div>
				</div>
			</nav>
			{elseif isNonnull($menuPath)}
			<nav id="wb-sm" data-ajax-replace="{$menuPath}" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement"></nav>
			{/if}
			{/if}
			{if isNonnull($breadcrumbs)}
			<nav id="wb-bc" property="breadcrumb">
				<h2>You are here:</h2>
				<div class="container">
					<div class="row">
						<ol class="breadcrumb">
							{foreach $item in $breadcrumbs}
							<li>{if isNonnull($item.acronym)}<abbr title="{$item.acronym}">{/if}{if isNonnull($item.href)}<a href="{$item.href}">{/if}{$item.title}{if isNonnull($item.href)}</a>{/if}{if isNonnull($item.acronym)}</abbr>{/if}</li>
							{/foreach}
						</ol>
					</div>
				</div>
			</nav>
			{/if}
		</header>
		{if $showPreContent != false}
		{/if}
{/template}

/**
 * This is all of the html to be included after existing page content.
 * @param? contactLink Used to override the Contact link in the footer.
 * @param? termsLink Used to override the Terms and conditions link in the footer.
 * @param? privacyLink Used to override the Privacy link in the footer.
 * @param? footerSections Used to populate the footer with custom links.
 */
{template .appFooter}
		<footer id="wb-info">
			{if isNonnull($footerSections)}
			<div class="landscape">
				<nav class="container wb-navcurr">
					<h2 class="wb-inv">Related links</h2>
					<ul class="list-unstyled colcount-sm-2 colcount-md-3">
						{foreach $link in $footerSections}
						<li><a href="{$link.href}"{if $link.newWindow==true} target="_blank"  rel="noopener"{/if}>{$link.text}{if $link.newWindow==true}<span class="wb-inv"> This link will open in a new window</span>{/if}</a></li>
						{/foreach}
					</ul>
				</nav>
			</div>
			{/if}
			<div class="brand">
				<div class="container">
					<div class="row">
						<nav class="col-md-10 ftr-urlt-lnk">
							<h2 class="wb-inv">About this Web application</h2>
							<ul>

							{if isNonnull($contactLink)}
								{foreach $link in $contactLink}
									{if isFirst($link)}
										<li><a {if $link.href} href="{$link.href}"{else} href="https://www.canada.ca/en/contact.html"{/if}{if $link.newWindow} target="_blank"  rel="noopener"{/if}>Contact information{if $link.newWindow==true}<span class="wb-inv"> This link will open in a new window</span>{/if}</a></li>
									{/if}
								{/foreach}
							{else}
								<li><a href="https://www.canada.ca/en/contact.html">Contact information</a></li>
							{/if}

							{if isNonnull($termsLink)}
								{foreach $link in $termsLink}
									{if isFirst($link)}
										<li><a {if $link.href} href="{$link.href}"{else} href="https://www.canada.ca/en/transparency/terms.html"{/if}{if $link.newWindow} target="_blank"  rel="noopener"{/if}>Terms and conditions{if $link.newWindow==true}<span class="wb-inv"> This link will open in a new window</span>{/if}</a></li>
									{/if}
								{/foreach}
							{else}
								<li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
							{/if}

							{if isNonnull($privacyLink)}
								{foreach $link in $privacyLink}
									{if isFirst($link)}
										<li><a {if $link.href} href="{$link.href}"{else} href="https://www.canada.ca/en/transparency/privacy.html"{/if}{if $link.newWindow} target="_blank"  rel="noopener"{/if}>Privacy{if $link.newWindow==true}<span class="wb-inv"> This link will open in a new window</span>{/if}</a></li>
									{/if}
								{/foreach}
							{else}
								<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
							{/if}

							</ul>
						</nav>
						<div class="col-xs-6 visible-sm visible-xs tofpg">
							<a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-2 text-right">
							<img src='{call wet.builder.environment data="all" /}gcweb/assets/wmms-blk.svg' alt="Symbol of the Government of Canada" />
						</div>
					</div>
				</div>
			</div>
		</footer>
{/template}