{namespace serverPage}

/**
 * This is all of the references to be made in the head element.
 */
{template .serverRefTop}
		<!--[if gte IE 9 | !IE ]><!-->
		<link href="{call wet.builder.environment data="all" /}gcweb-opc/assets/favicon.ico" rel="icon" type="image/x-icon">
		<link rel="stylesheet" href="{call wet.builder.environment data="all" /}gcweb-opc/css/theme-srv.min.css">
		<!--<![endif]-->
		<!--[if lt IE 9]>
		<link href="{call wet.builder.environment data="all" /}gcweb-opc/assets/favicon.ico" rel="shortcut icon" />
		<link rel="stylesheet" href="{call wet.builder.environment data="all" /}gcweb-opc/css/ie8-theme-srv.min.css" />
		<script src="{call wet.builder.environment data="all" /}wet-boew/js/jquery/1.12.4/jquery.min.js"></script>
		<script src="{call wet.builder.environment data="all" /}wet-boew/js/ie8-wet-boew.min.js"></script>
		<![endif]-->
		<noscript><link rel="stylesheet" href="{call wet.builder.environment data="all" /}wet-boew/css/noscript.min.css" /></noscript>
{/template}

/**
 * This is all of the references to be made before existing page content.
 */
{template .serverTop}
	<header role="banner" id="wb-bnr" class="container">
        <div class="row">
            <div class="col-sm-6">
                <img id="opc-sig" src="{call wet.builder.environment data="all" /}gcweb-opc/assets/opc-blk-fr.svg" class="hidden-print" alt="Commissariat à la protection de la vie privée du Canada / Office of the Privacy Commissioner"/>
                <span class="wb-inv">Commissariat à la protection de la vie privée du Canada / Office of the Privacy Commissioner of Canada</span>
            </div>
        </div>
    </header>
{/template}

/**
 * This is all of the references to be made before existing page content.
 */
{template .serverBottom}
	<footer id="wb-info">
		<div class="brand">
				<div class="container">
					<div class="row ">
						<div class="col-md-6">
							<img src="{call wet.builder.environment data="all" /}gcweb-opc/assets/opc-blk-en.svg" alt="OPC Logo" />
							<span class="wb-inv">Office of Privacy Commissioner of Canada</span>
						</div>
						<div class="col-md-6 tofpg text-right">
							<a href="#wb-cont">Top of Page <span class="fa fa-arrow-circle-up"></span></a>
						</div>
					</div>
				</div>
			</div>
	</footer>
{/template}
