{namespace wet.builder}

/**
 * Server message page - Top references
 */
{template .serverRefTop}
{call serverPage.serverRefTop data="all" /}
{/template}

/**
 * Server message page - Top section
 */
{template .serverTop}
{call serverPage.serverTop data="all" /}
{/template}

/**
 * Server message page - Bottom references
 */
{template .serverRefBottom}
{call serverPage.serverRefBottom data="all" /}
{/template}

/**
 * Server message page - Bottom section
 */
{template .serverBottom}
{call serverPage.serverBottom data="all" /}
{/template}

/**
 * Application page - Top section
 */
{template .appTop}
{call applicationPage.appTop data="all" /}
{/template}

/**
 * Application page - Footer section
 */
{template .appFooter}
{call applicationPage.appFooter data="all" /}
{/template}

/**
 * This is the set path to the root to where the assest (JS, CSS, Images, etc...) are.
 * From the page level and not the level of the compiled JS. NEEDS TO BE FIXED!
 * @param cdnEnv Used to switch between esdc envrionments and Akamai implementations.
 * @param cdnPath used to set working path to assets. 
*/
{template .environment}
{if $cdnEnv=='esdcqat' or $cdnEnv=='esdcprod' or $cdnEnv=='esdcnonprod'}/cdts/
{elseif isNonnull($cdnPath)}{$cdnPath}
{else}/etc/designs/canada/cdts/
{/if}
{/template}

/**
 * This is all of the references to be made before existing page content.
 * @param? webAnalytics Used to determine inclusion of current analytics code.
 * @param? isApplication Used to determine if this will use the application templates (true/false).
 */
{template .refTop}

		<script>
		dataLayer = [];
		</script>

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){lb}w[l]=w[l]||[];w[l].push({lb}'gtm.start':
		new Date().getTime(),event:'gtm.js'{rb});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		{rb})(window,document,'script','dataLayer','GTM-5DBPCQJ');</script>
		<!-- End Google Tag Manager -->

		{if isNonnull($webAnalytics)}
		<!-- Adobe Analytics -->
			<script src="//gcweb/assets.adobedtm.com/
				{foreach $aa in $webAnalytics}caacec67651710193d2331efef325107c23a0145/satelliteLib-
					{if $aa.version == 1}
						92fcbbc24eeebb654a3dfbe688ed2dfe10a53e24
					{elseif $aa.version == 2}
						c2082deaf69c358c641c5eb20f94b615dd606662
					{/if}
					{if $aa.environment == 'staging'}-staging{/if}
				{/foreach}
			.js"></script>
		{/if}

		<!--[if gte IE 9 | !IE ]><!-->
		<link href='{call .environment data="all" /}/gcweb/release/assets/favicon.ico' rel="icon" type="image/x-icon">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
		<link rel="stylesheet" href='{call .environment data="all" /}gcweb/release/css/theme.min.css'>
		<link rel="stylesheet" href='{call .environment data="all" /}gcweb/release/cdts/cdtsfixes.css'>
		{if $isApplication == true}
		<link rel="stylesheet" href='{call .environment data="all" /}gcweb/release/cdts/cdtsapps.css'>
		{/if}
		<!--<![endif]-->
		<!--[if lt IE 9]>
		<link href='{call .environment data="all" /}/gcweb/release/assets/favicon.ico' rel="shortcut icon" />
		<link rel="stylesheet" href='{call .environment data="all" /}/gcweb/release/css/ie8-theme.min.css' />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src='{call .environment data="all" /}gcweb/release/js/ie8-wet-boew.min.js'></script>
		<![endif]-->
		<!--[if lte IE 9]><![endif]-->
{/template}

/**
 * This is all of the html to be included before existing page content.
 * @param? search Used to display search.
 * @param? siteMenu Used to display site menu.
 * @param? lngLinks Links to pages in other languages.
 * @param? showPreContent Used to determine if the precontent space will be displayed.
 * @param? breadcrumbs Used to set custom breadcrumbs.
 * @param? topSecMenu Set to true if you want to use the secondary navigation.
 */
{template .top}

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DBPCQJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<nav>
			<ul id="wb-tphp">
				<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Passer au contenu principal</a></li>
				<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Passer à «&#160;Au sujet du gouvernement&#160;»</a></li>
				{if $topSecMenu == true}
				<li class="wb-slc visible-md visible-lg"><a class="wb-sl" href="#wb-sec">Passer au menu de la section</a></li>
				{/if}
			</ul>
		</nav>
		<header>
			<div id="wb-bnr" class="container">
				{if isNonnull($lngLinks)}
				<section id="wb-lng" class="text-right">
					<h2 class="wb-inv">Sélection de la langue</h2>
							<ul class="list-inline margin-bottom-none">
								{foreach $link in $lngLinks}
									//{if isFirst($link)}
										<li><a hreflang="{$link.lang}" lang="{$link.lang}" href="{$link.href}">{$link.text}</a></li>
									//{/if}
								{/foreach}
							</ul>
				</section>
				{/if}
				<div class="row">
					<div class="brand col-xs-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
						{if $siteMenu != false}<a href="https://www.canada.ca/fr.html" property="url">{/if}<img src='{call .environment data="all" /}gcweb/release/assets/sig-blk-fr.svg' alt="" property="logo" /><span class="wb-inv" property="name"> Gouvernement du Canada / <span lang="en">Government of Canada</span></span>{if $siteMenu != false}</a>{/if}
						<meta property="areaServed" typeOf="Country" content="Canada" />
						<link property="logo" href='{call .environment data="all" /}/gcweb/release/assets/wmms-blk.svg' />
					</div>
					{if $search != false}
					<section id="wb-srch" class="col-lg-8 text-right">
						<h2>Recherche</h2>
						<form action="https://www.canada.ca/fr/sr.html" method="get" name="cse-search-box" role="search" class="form-inline">
							<div class="form-group">
								<label for="wb-srch-q" class="wb-inv">Rechercher dans Canada.ca</label>
								<input name="cdn" value="canada" type="hidden">
								<input name="st" value="s" type="hidden">
								<input name="num" value="10" type="hidden">
								<input name="langs" value="fr" type="hidden">
								<input name="st1rt" value="1" type="hidden">
								<input name="s5bm3ts21rch" value="x" type="hidden">
								<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Rechercher dans Canada.ca">
								<input type="hidden" name="_charset_" value="UTF-8">
								<datalist id="wb-srch-q-ac">
								</datalist>
							</div>
							<div class="form-group submit">
								<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Recherche</span></button>
							</div>
						</form>
					</section>
					{/if}
				</div>
			</div>
			{if $siteMenu != false}
			<nav class="gcweb-menu" typeof="SiteNavigationElement">
				<div class="container">
					<h2 class="wb-inv">Menu</h2>
					<button type="button" aria-haspopup="true" aria-expanded="false">Menu<span class="wb-inv"> principal</span> <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
					<ul role="menu" aria-orientation="vertical" data-ajax-replace="//www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-fr.html">
						<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/emplois.html">Emplois et milieu de travail</a></li>
						<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></li>
						<li role="presentation"><a role="menuitem" href="https://voyage.gc.ca/">Voyage et tourisme</a></li>
						<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/entreprises.html">Entreprises et industrie</a></li>
						<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></li>
						<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/sante.html">Santé</a></li>
						<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/impots.html">Impôts</a></li>
						<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></li>
						<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></li>
						<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></li>
						<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a></li>
						<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></li>
						<li role="presentation"><a role="menuitem" href="http://international.gc.ca/world-monde/index.aspx?lang=fra">Canada et le monde</a></li>
						<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></li>
						<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/science.html">Science et innovation</a></li>
					</ul>
				</div>
			</nav>
			{else}
			<div class="transactBar"></div>
			{/if}
			{if $breadcrumbs != false}
			<nav id="wb-bc" property="breadcrumb">
				<h2>Vous êtes ici :</h2>
				<div class="container">
					<ol class="breadcrumb">
						{if isNonnull($breadcrumbs)}
						{foreach $item in $breadcrumbs}
						<li>{if isNonnull($item.acronym)}<abbr title="{$item.acronym}">{/if}{if isNonnull($item.href)}<a href="{$item.href}">{/if}{$item.title}{if isNonnull($item.href)}</a>{/if}{if isNonnull($item.acronym)}</acronym>{/if}</li>
						{/foreach}
						{else}
						<li><a href="https://www.canada.ca/fr.html">Accueil</a></li>
						{/if}
					</ol>
				</div>
			</nav>
			{/if}
		</header>
		{if $showPreContent != false}
		{/if}
{/template}

/**
 * This is all of the html to be included after existing page content.
 * @param? dateModified The date the content was last modified.
 * @param? showPostContent Used to determine if the postcontent space will be displayed, off by default.
 * @param? showShare Used to determine if the share button will be displayed
 * @param? showFeedback Used to determine if the "Report a problem ..." button will be displayed or customized
 * @param? versionIdentifier Used instead of dateModified
 * @param? screenIdentifier Used to identify screens for users that need help
 * @param? pagedetails Used to determine if the pagedetails div will be displayed
 * @param? isContainer Used to add the container class to the pageDetails section when using the homepage look
*/
{template .preFooter}
			{if $showPostContent != false}
			{/if}
			{if $pagedetails != false}
				<div class="pagedetails{if isNonnull($isContainer)} container{/if}">
					{if $showFeedback != false or $showShare != false}
						<div class="row">
							{if $showFeedback != false}
								{if isNonnull($showFeedback) and $showFeedback != true }
									<div class="col-sm-6 col-md-5 col-lg-4">
										<a href="{$showFeedback}" class="btn btn-default btn-center">Signaler un problème sur cette page</a>
									</div>
								{else}
									<div class="col-sm-6 col-md-5 col-lg-4">
										<a href="https://www.canada.ca/fr/signaler-probleme.html" class="btn btn-default btn-center">Signaler un problème sur cette page</a>
									</div>
								{/if}
							{/if}
							{if $showShare != false}
								{if isNonnull($showShare)}
									<div class="wb-share col-sm-4 col-md-3 col-sm-offset-{if $showFeedback != false}2{else}8{/if} col-md-offset-{if $showFeedback != false}4{else}9{/if}{if $showFeedback != false} col-lg-offset-5{/if}" data-wb-share='{lb}"filter": [{foreach $item in $showShare}"{$item}"{if not isLast($item)}, {/if}{/foreach}], "lnkClass": "btn btn-default btn-block"{rb}'></div>
								{else}
									<div class="wb-share col-sm-4 col-md-3 col-sm-offset-{if $showFeedback != false}2{else}8{/if} col-md-offset-{if $showFeedback != false}4{else}9{/if}{if $showFeedback != false} col-lg-offset-5{/if}" data-wb-share='{lb}"lnkClass": "btn btn-default btn-block"{rb}'></div>
								{/if}
							{/if}
						</div>
					{/if}
					<dl id="wb-dtmd">
						{if isNonnull($screenIdentifier)}
							<dt>Identificateur d'écran&#160;:&#32;</dt>
							<dd property="identifier">{$screenIdentifier}</dd>
						{/if}
						{if isNonnull($dateModified)}
							<dt>Date de modification&#160;:&#32;</dt>
							<dd><time property="dateModified">{$dateModified}</time></dd>
						{/if}
						{if isNonnull($versionIdentifier)}
							<dt>Version&#160;:&#32;</dt>
							<dd property="version">{$versionIdentifier}</dd>
						{/if}
					</dl>
				</div>
			{/if}
{/template}

/**
 * This is all of the html for the secondary menu.
 * @param sections Loops of the sections
 */
{template .secmenu}
			<h2 id="wb-sec-h" class="wb-inv">Menu de la section</h2>
			{foreach $section in $sections}
			<section class="list-group menu list-unstyled">
				<h3>{if isNonnull($section.sectionLink)}<a href="{$section.sectionLink}"{if $section.newWindow==true} target="_blank"  rel="noopener"{/if}>{/if}{$section.sectionName}{if $section.newWindow==true}<span class="wb-inv"> Ce lien ouvrira dans une nouvelle fenêtre</span>{/if}{if isNonnull($section.sectionLink)}</a>{/if}</h3>
				<ul class="list-group menu list-unstyled">
					{foreach $link in $section.menuLinks}
					{if isNonnull($link.subLinks)}
					<li>
						<a href="{$link.href}" class="list-group-item"{if $link.newWindow==true} target="_blank"  rel="noopener"{/if}>{$link.text}{if $link.newWindow==true}<span class="wb-inv"> Ce lien ouvrira dans une nouvelle fenêtre</span>{/if}</a>
						<ul class="list-group menu list-unstyled">
							{foreach $sublink in $link.subLinks}
							<li><a href="{$sublink.subhref}" class="list-group-item"{if $sublink.newWindow==true} target="_blank"  rel="noopener"{/if}>{$sublink.subtext}{if $sublink.newWindow==true}<span class="wb-inv"> Ce lien ouvrira dans une nouvelle fenêtre</span>{/if}</a></li>
							{/foreach}
						</ul>
					</li>
					{else}
					<li><a href="{$link.href}" class="list-group-item"{if $link.newWindow==true} target="_blank"  rel="noopener"{/if}>{$link.text}{if $link.newWindow==true}<span class="wb-inv"> Ce lien ouvrira dans une nouvelle fenêtre</span>{/if}</a></li>
					{/if}
					{/foreach}
				</ul>
			</section>
			{/foreach}
{/template}

/**
 * This is all of the html to be included after existing page content.
 * @param? contactLinks Used to override the Contact link in the footer.
 * @param? termsLink Used to override the Terms and conditions link in the footer.
 * @param? privacyLink Used to override the Privacy link in the footer.
 * @param? showFooter Used to determine if the page footer will be displayed.
 */
{template .footer}
		<footer id="wb-info">
			{if $showFooter != false}
			<div class="landscape">
				<nav class="container wb-navcurr">
					<h2 class="wb-inv">Au sujet du gouvernement</h2>
					<ul class="list-unstyled colcount-sm-2 colcount-md-3">
					{if isNonnull($contactLinks)}
						{foreach $link in $contactLinks}
							{if isFirst($link)}
							<li><a href="{$link.href}">Contactez-nous</a></li>
							{/if}
						{/foreach}
					{else}
						<li><a href="https://www.canada.ca/fr/contact.html">Contactez-nous</a></li>
					{/if}
						<li><a href="https://www.canada.ca/fr/gouvernement/min.html">Ministères et organismes</a></li>
						<li><a href="https://www.canada.ca/fr/gouvernement/fonctionpublique.html">Fonction publique et force militaire</a></li>
						<li><a href="https://www.canada.ca/fr/nouvelles.html">Nouvelles</a></li>
						<li><a href="https://www.canada.ca/fr/gouvernement/systeme/lois.html">Traités, lois et règlements</a></li>
						<li><a href="https://www.canada.ca/fr/transparence/rapports.html">Rapports à l'échelle du gouvernement</a></li>
						<li><a href="http://pm.gc.ca/fra">Premier ministre</a></li>
						<li><a href="https://www.canada.ca/fr/gouvernement/systeme.html">Comment le gouvernement fonctionne</a></li>
						<li><a href="http://ouvert.canada.ca/">Gouvernement ouvert</a></li>
					</ul>
				</nav>
			</div>
				<div class="brand">
					<div class="container">
						<div class="row">
							<nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
								<h2 class="wb-inv">À propos du site</h2>
								<ul>
									<li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
									<li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
									<li><a href="https://www1.canada.ca/fr/nouveausite.html">À propos de Canada.ca</a></li>
									<li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
									<li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li>
								</ul>
							</nav>
				{else}
				<div id="transactFooter" class="landscape"></div>
				<div class="brand">
					<div class="container">
						<div class="row">
							<nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
								<h2 class="wb-inv">À propos du site</h2>
								<ul>
								{if isNonnull($contactLinks)}
									{foreach $link in $contactLinks}
										{if isFirst($link)}
											<li><a {if $link.href} href="{$link.href}"{else} href="https://www.canada.ca/fr/contact.html"{/if}{if $link.newWindow} target="_blank"  rel="noopener"{/if}>Coordonnées{if $link.newWindow==true}<span class="wb-inv"> Ce lien ouvrira dans une nouvelle fenêtre</span>{/if}</a></li>
										{/if}
									{/foreach}
								{else}
									<li><a href="https://www.canada.ca/fr/contact.html">Coordonnées</a></li>
								{/if}

								{if isNonnull($termsLink)}
									{foreach $link in $termsLink}
										{if isFirst($link)}
											<li><a {if $link.href} href="{$link.href}"{else} href="https://www.canada.ca/fr/transparence/avis.html"{/if}{if $link.newWindow} target="_blank"  rel="noopener"{/if}>Avis{if $link.newWindow==true}<span class="wb-inv"> Ce lien ouvrira dans une nouvelle fenêtre</span>{/if}</a></li>
										{/if}
									{/foreach}
								{else}
									<li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
								{/if}

								{if isNonnull($privacyLink)}
									{foreach $link in $privacyLink}
										{if isFirst($link)}
											<li><a {if $link.href} href="{$link.href}"{else} href="https://www.canada.ca/fr/transparence/confidentialite.html"{/if}{if $link.newWindow} target="_blank"  rel="noopener"{/if}>Confidentialité{if $link.newWindow==true}<span class="wb-inv"> Ce lien ouvrira dans une nouvelle fenêtre</span>{/if}</a></li>
										{/if}
									{/foreach}
								{else}
									<li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li>
								{/if}
								</ul>
							</nav>
				{/if}
							<div class="col-xs-6 visible-sm visible-xs tofpg">
								<a href="#wb-cont">Haut de la page <span class="glyphicon glyphicon-chevron-up"></span></a>
							</div>
							<div class="col-xs-6 col-md-2 text-right">
								<img src='{call .environment data="all" /}gcweb/release/assets/wmms-blk.svg' alt="Symbole du gouvernement du Canada" />
							</div>
						</div>
					</div>
				</div>
		</footer>
{/template}

/**
 * This is all of the references to be made before existing page content.
 * @param? exitScript If set to true, loads a script that alerts users they are leaving a secure site.
 * @param? displayModal If set to true will display modal otherwise skip to exitURL.
 * @param? exitURL The URL where the users are redirected if they continue.
 * @param? exitMsg The message to display to the user.
 * @param? cancelMsg Text for Cancel Button
 * @param? yesMsg Text for yes Button
 * @param? exitDomains Domains to not check for secure exit.
 * @param? jqueryEnv Used to determine location of jQuery files (local / external).
 * @param? webAnalytics Used to determine inclusion of current analytics code.
 * @param? isApplication Used to determine if this will use the application templates (true/false).
 */
{template .refFooter}
		<!--[if gte IE 9 | !IE ]><!-->
		<script src="{if $jqueryEnv=='external'}https://ajax.googleapis.com/ajax/libs/{else}{call .environment data="all" /}gcweb/release/js/{/if}jquery/2.2.4/jquery.min.js"></script>
		<script src='{call .environment data="all" /}gcweb/release/js/wet-boew.min.js'></script>
		<!--<![endif]-->
		<!--[if lt IE 9]>
		<script src='{call .environment data="all" /}gcweb/release/js/ie8-wet-boew2.min.js'></script>
		<![endif]-->
		<script src='{call .environment data="all" /}gcweb/release/js/theme.min.js'></script>
		{if $exitScript == true}
		<script data-id="exitScript" data-token="{$exitURL}" data-token-domains="{$exitDomains}" data-token-modal="{$displayModal}">clickA();</script>
		<a id="sExitModalLink" class="wb-lbx lbx-modal wb-inv" title="" href="#sExitModal" tabindex="-1">Avis de sortie sécurisée</a>
		<section id="sExitModal" class="mfp-hide modal-dialog modal-content overlay-def">
			<header class="modal-header">
				<h2 class="modal-title">Avertissement</h2>
			</header>
			<div class="modal-body">
				<p>
					{if isNonnull($exitMsg) and length($exitMsg) > 0}
						{$exitMsg}
					{else}
						Vous êtes sur le point de quitter un site sécurisé. Voulez-vous continuer?
					{/if}
				</p>
				<ul class="list-inline text-center">
					<li><a class="btn btn-primary popup-modal-dismiss pull-left" id="eCancel" href="javascript:void(0)" type="button">
						{if isNonnull($cancelMsg) and length($cancelMsg) > 0}
							{$cancelMsg}
						{else}
							Annuler
						{/if}
					</a></li>
					<li><a class="btn btn-default popup-modal pull-right" id="eOK" href="javascript:void(0)" type="button">
						{if isNonnull($yesMsg) and length($yesMsg) > 0}
							{$yesMsg}
						{else}
							Oui
						{/if}
					</a></li>
				</ul>
			</div>
		</section>
		{/if}
		{if $isApplication == true}
		<script src='{call .environment data="all" /}cdts/js/cdtscustom.js'></script>
		{/if}
		{if isNonnull($webAnalytics)}<script>_satellite.pageBottom();</script>{/if}
{/template}
