#wb-sm .sm.open li a:hover,
#wb-sm .sm.open li a:focus,
#wb-sm .sm.open li a:active,
#wb-sm .sm.open li summary:hover,
#wb-sm .sm.open li summary:focus,
#wb-sm .sm.open li summary:active {
    background: #484848;
    color: #fff;
}
#wb-srch button,
.srchbox button {
    background-color: #3E5403;
    border-color: #3E5403;
}
#wb-srch button:hover,
#wb-srch button:focus,
#wb-srch button:active,
.srchbox button:hover,
.srchbox button:focus,
.srchbox button:active {
    background: #3E5403;
}
#wb-info .brand {
    border-top: 4px solid #527004;
}
#app-brand {
    background-color: #527004;
    color: #fff;
    min-height: 45px;
}
.app-name {
    font-size: 1.6em;
    padding-top: 5px;
    padding-left: 20px;
    background-color: #3E5403;
    min-height: 45px;
    max-width: 205px;
    margin-left: -15px;
}
.app-name:before {
    content: '';
    display: block;
    position: absolute;
    left: 205px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 22.5px solid transparent;
    border-bottom: 22.5px solid transparent;
    border-left: 20px solid #3E5403;
    clear: both;
}
#wb-glb-mn ul.chvrn {
    background: #527004;
}
#mb-pnl .modal-header {
    background: #3E5403;
    border-bottom: 1px solid #3E5403;
}
#mb-pnl .modal-header:before {
    border-bottom: 1.45em solid #3E5403;
    border-top: 1.45em solid #3E5403;
}
#mb-pnl .modal-body {
    background: #527004;
}
#mb-pnl .srch-pnl form button {
    background-color: #3E5403;
    border-color: #3E5403;
}
#mb-pnl .srch-pnl form button:hover,
#mb-pnl .srch-pnl form button:focus,
#mb-pnl .srch-pnl form button:active {
    background: #527004;
}
#mb-pnl .sm-pnl {
    background: #527004;
}
#mb-pnl .info-pnl {
    background: #527004;
    border-top: 2px solid #061e38;
    color: #325375 !important;
    padding-left: 15px;
}
.wb-tabs.carousel-s2 figcaption,
.wb-tabs.carousel-s1 figcaption {
    background-color: #606060;
}
.followus .Instagram {
    background-image: url(https://intranet.canada.ca/images/Instagram.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}
.followus .GCConnex {
    background-image: url(https://intranet.canada.ca/images/GCconnex.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}
.followus .GCdirectory {
    background-image: url(https://intranet.canada.ca/images/GCdirectory.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}
.followus .GCpedia {
    background-image: url(https://intranet.canada.ca/images/GCpedia.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}
.followus .GCTools {
    background-image: url(https://intranet.canada.ca/images/GCTools.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}
.followus .GCConnex,
.followus .GCdirectory,
.followus .GCpedia,
.followus .GCTools,
.followus .Instagram {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline;
    min-height: 27px;
    min-width: 40px;
    position: relative;
    vertical-align: middle;
    vertical-align: text-bottom
}
/********** AJOUTÉ PAR NICK LE 2016/05/26 **********/
details summary {
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
    padding: 5px 15px;
}
/********** AJOUTÉ PAR NICK LE 2017/02/15 **********/
/********** ESDC fix asked by Martin **********/
.wb-menu .menu > li a.mnuPadding {
    padding-left: 50px;
    padding-right: 50px;
}
/********** AJOUTÉ PAR NICK LE 2016/05/26 **********/
.app-name-lg:before {
    left: 450px;
}

/********** AJOUTÉ PAR ROCH LE 2017/05/25 **********/
#tools-sm{
	background: #527004; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #3E5403 , #527004); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #3E5403, #527004); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #3E5403, #527004); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #3E5403 , #527004); /* Standard syntax */
}

/********** AJOUTÉ PAR ROCH LE 2017/06/02 **********/
main .btn-primary {
    background-color: #527004;
    border-color: #061e38;
}

main .btn-primary:hover, main .btn-primary:focus, main .btn-primary.focus, main .btn-primary:active, main .btn-primary.active {
background-color: #1f3047;
border-color: #101823; }

/********** AJOUTÉ PAR NICK LE 2017/06/05 **********/
#esdctools{
	padding-top:10px;
}