name: CI

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - 20.x

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Test
        run: npm test
        env:
          DISABLE_PROXY: true
          # Disabling the "test-links" phase because it takes way too long to run as often as this CI workflow runs.
          # "test-links" was moved to workflow `testlinks.yml`.
          DISABLE_TESTLINKS: true

  spellcheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: pip
          cache-dependency-path: pyspelling-requirements.txt

      - name: Install aspell
        run: sudo apt-get install aspell aspell-en aspell-fr

      - name: Install python dependencies
        run: pip install -r pyspelling-requirements.txt

      - name: Spellcheck
        run: python -m pyspelling
